{% extends "/Article/Accueil.html.twig" %}
{% block title %}Liste utilisateur{% endblock %}

{% block body %}

    <nav>
        <div class="menu">
            <ul>

                <li>
                    <a class="dropdown-item" href="/welcome"><img src="/uploads/images/logo.png"></a>
                </li>
            </ul>
        </div>
    </nav>
    </br></br></br></br>

    <table class="table table-striped">
    <thead>
    <tr>
        {% for role in session.login.roles %}
        {% if role == 'administrateur' %}
        <th scope="col">Id</th>
        {% endif %}
        {% endfor %}
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        {% for role in session.login.roles %}
        {% if role == 'administrateur' %}
        <th scope="col">Rôle</th>
        {% endif %}
        {% endfor %}
        <th scope="col">Projet</th>
    </tr>
    </thead>
    <tbody>
    {% for Utilisateur in utilisateurlist %}

        <tr>{% for role in session.login.roles %}
            {% if role == 'administrateur' %}
            <td>{{ Utilisateur.USER_ID }}</td>
            {% endif %}
    {% endfor %}
            <td>{{ Utilisateur.USER_NOM }}</td>
            <td>{{ Utilisateur.USER_PRENOM }}</td>
        {% for role in session.login.roles %}
            {% if role == 'administrateur' %}
            <td>{{ Utilisateur.USER_ROLE }}</td>
            {% endif %}
            {% endfor %}
            <td>{{ Utilisateur.USER_PROJET }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% for role in session.login.roles %}
                          {% if role == 'administrateur' %}
                    <a class="btn btn-danger" href="/User/delUtilisateur/{{ Utilisateur.USER_ID }}"><i class="fas fa-times-circle"></i></a>
                </div>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% endfor %}
    </tbody>

{% endblock %}