{% extends "index.html.twig" %}
{% block title %}Validation d'article{% endblock %}



{% block body %}

    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
    </tr>
    </thead>
    <tbody>
    {% for Utilisateur in utilisateurlist %}

        <tr>
            <!--<th scope="row"><a href="/User/ValiderUtilisateur/{{ user.id }}">#{{ user.id }}</a></th>-->
            <td>{{ Utilisateur.USER_ID }}</td>
            <td>{{ Utilisateur.USER_NOM }}</td>
            <td>{{ Utilisateur.USER_PRENOM }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-success" href="/User/ValUtilisateur/{{ Utilisateur.USER_ID }}"><i class="fas fa-check-circle"></i></a>
                </div>
            </td>
        </tr>

    {% endfor %}
    </tbody>

{% endblock %}